- if document
  .document{style: 'margin-top:40px;'}
    .row
      .col.left{style: 'width: 30%;'}
        %h1{style: 'font-size:14pt; margin-bottom:0;'}= document.title
        %p{style: 'margin-top:0'}= document.author
        /.div= document.document_map
        %h5 Table of Contents
        .div= document.root_document.table_of_contents(format: 'html', current_document: document)
        %h5 Table of Contents2
        .div= document.root_document.master_table_of_contents
      .col.middle{style: 'left: 30%; width: 70%;'}
        = document.compiled_and_rendered_content    # = document.compiled_and_rendered_content
- else
  %p.placeholder Documents not found.

